{% extends "icon/base.html" %}
{% load static %}

{% block link %}
	   	<link rel="icon" type="" href="{% static 'menu/img/ico/purple_home.svg' %}">
	   	<title>About</title>
{% endblock %}

{% block content %}
	<header>
		<h3 style="text-align: center;">
			About
		</h3>
	</header>

	<p style="text-align: justify;  width: 98%; margin: 0 auto;"> 
       	<img src="{% static 'menu/img/2.jpg' %}" alt="Лейтенант Бокатуев" width="500px"  class="leftimg"
       	style="margin-top: 5px;">
            
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eligendi sequi possimus, commodi 
	 id voluptatibus saepe praesentium consequatur, dolores officiis nemo explicabo magnam quam tempore 
	 molestiae, perspiciatis nulla ex atque ducimus iure veniam ratione fugit quae in. Fugit repudiandae 
	 quae, consequuntur, totam natus a harum maiores repellendus alias dolor et suscipit qui, laudantium 
	 at assumenda minus, asperiores nihil iste in animi. Libero exercitationem omnis, earum debitis 
	 necessitatibus aut nostrum fugiat deserunt velit tenetur eaque molestias dolorum error iusto modi. 
	 Necessitatibus iure officiis sit accusantium sequi magni optio quidem vitae beatae totam quae maxime, 
	 vel facilis recusandae labore commodi quo dignissimos. Ea amet vero, quia, architecto laborum quod! 
	 Dolorum adipisci dolor beatae amet laudantium. Laborum alias, iusto necessitatibus aperiam blanditiis 
	 consequuntur, architecto nihil magni. Voluptas debitis earum nesciunt eum adipisci dolore commodi 
	 excepturi nam eos qui quos et laborum provident asperiores nostrum fugiat accusamus obcaecati sint 
	 officiis quaerat enim modi, expedita exercitationem soluta. Magnam quibusdam eaque atque, nam 
	 consequuntur id at sequi incidunt porro, voluptatibus. <br><br> Sed animi molestias tempora ab 
	 exercitationem, sequi nisi odio aspernatur eos repellat officia sunt, quis labore atque repudiandae 
	 et error numquam, voluptatem. Impedit, magni repudiandae illo in debitis quam, repellendus quo dolores 
	 quibusdam ab vero rem aliquam ex a sunt optio mollitia, similique incidunt. Aliquid aspernatur repellat 
	 iusto saepe suscipit doloremque. Consequatur, eaque nemo ratione, quis necessitatibus modi, laborum placeat 
	 harum maiores molestiae quasi doloremque autem ea dolores facilis, quas ipsum blanditiis odio fuga illo 
	 provident delectus quidem itaque temporibus minima. Dolores nobis reiciendis quod numquam consectetur 
	 quisquam cum obcaecati maxime distinctio dignissimos sunt vero minus asperiores officia a iste, quaerat 
	 perspiciatis fugit dicta. Soluta adipisci praesentium omnis dolorem saepe. Ullam, dolore! Est odit 
	 quibusdam esse, repellendus tenetur, fuga velit repudiandae! Error, praesentium, nemo. Doloribus 
	 aliquam aperiam illo eum, magnam fugiat quaerat, accusantium nihil, consequuntur, voluptatibus ea 
	 at quo tempore odio sed? Earum temporibus sequi itaque laborum sapiente quae mollitia aspernatur 
	 optio aperiam dolorem natus, veniam officiis esse molestiae ab nulla nemo consectetur. Fugit, 
	 vero, commodi. <br><br> Inventore deleniti non reprehenderit, illo atque dolor unde quas culpa 
	 porro cum ratione illum tempore ab impedit blanditiis tempora mollitia saepe eveniet aperiam 
	 alias ipsa recusandae! Eos facilis earum ex rerum, similique aperiam at, consequatur aspernatur 
	 vitae veniam minima laudantium perferendis quod molestias. Eum reiciendis vel adipisci incidunt 
	 quasi nesciunt culpa, enim itaque laudantium dolor voluptates nemo, error eligendi cupiditate, 
	 laborum dolorum? Repellat illum sequi modi laudantium accusamus enim pariatur eos reprehenderit 
	 quae voluptatibus esse nam nisi saepe autem, fugit vel voluptates consequuntur, quia ratione quas 
	 sapiente necessitatibus mollitia quibusdam. Quaerat quos repellendus consectetur mollitia fuga amet, 
	 quisquam in, iusto fugiat impedit ipsa maxime quidem accusantium iste, sequi ratione ipsam dolorem 
	 earum, consequuntur. Iusto repellat, a magni modi totam commodi deserunt placeat ab tempore qui, 
	 aliquam, illum suscipit, impedit. Ullam modi dolorum, dignissimos suscipit omnis iste, provident 
	 deleniti nihil sapiente eveniet pariatur quia expedita. Porro illo ut quae exercitationem, aliquid 
	 doloremque assumenda provident unde nobis aut dolore eum rem placeat nisi dolorem perferendis fugit 
	 natus esse tenetur temporibus dignissimos, laudantium. <br><br>
     <img src="{% static 'menu/img/5.jpg' %}" alt="Лейтенант Бокатуев" width="450px"  class="rightimg">
            
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eligendi sequi possimus, commodi 
	 id voluptatibus saepe praesentium consequatur, dolores officiis nemo explicabo magnam quam tempore 
	 molestiae, perspiciatis nulla ex atque ducimus iure veniam ratione fugit quae in. Fugit repudiandae 
	 quae, consequuntur, totam natus a harum maiores repellendus alias dolor et suscipit qui, laudantium 
	 at assumenda minus, asperiores nihil iste in animi. Libero exercitationem omnis, earum debitis 
	 necessitatibus aut nostrum fugiat deserunt velit tenetur eaque molestias dolorum error iusto modi. 
	 Necessitatibus iure officiis sit accusantium sequi magni optio quidem vitae beatae totam quae maxime, 
	 vel facilis recusandae labore commodi quo dignissimos. Ea amet vero, quia, architecto laborum quod! 
	 Dolorum adipisci dolor beatae amet laudantium. Laborum alias, iusto necessitatibus aperiam blanditiis 
	 consequuntur, architecto nihil magni. Voluptas debitis earum nesciunt eum adipisci dolore commodi 
	 excepturi nam eos qui quos et laborum provident asperiores nostrum fugiat accusamus obcaecati sint 
	 officiis quaerat enim modi, expedita exercitationem soluta. Magnam quibusdam eaque atque, nam 
	 consequuntur id at sequi incidunt porro, voluptatibus. <br><br> Sed animi molestias tempora ab 
	 exercitationem, sequi nisi odio aspernatur eos repellat officia sunt, quis labore atque repudiandae 
	 et error numquam, voluptatem. Impedit, magni repudiandae illo in debitis quam, repellendus quo 
	 dolores quibusdam ab vero rem aliquam ex a sunt optio mollitia, similique incidunt. Aliquid 
	 spernatur repellat iusto saepe suscipit doloremque. Consequatur, eaque nemo ratione, quis 
	 necessitatibus modi, laborum placeat harum maiores molestiae quasi doloremque autem ea dolores 
	 facilis, quas ipsum blanditiis odio fuga illo provident delectus quidem itaque temporibus minima. 
	 Dolores nobis reiciendis quod numquam consectetur quisquam cum obcaecati maxime distinctio dignissimos 
	 sunt vero minus asperiores officia a iste, quaerat perspiciatis fugit dicta. Soluta adipisci praesentium 
	 omnis dolorem saepe. Ullam, dolore! Est odit quibusdam esse, repellendus tenetur, fuga velit repudiandae! 
	 Error, praesentium, nemo. <br><br> Doloribus aliquam aperiam illo eum, magnam fugiat quaerat, accusantium 
	 nihil, consequuntur, voluptatibus ea at quo tempore odio sed? Earum temporibus sequi itaque laborum sapiente 
	 quae mollitia aspernatur optio aperiam dolorem natus, veniam officiis esse molestiae ab nulla nemo consectetur. 
	 Fugit, vero, commodi. Inventore deleniti non reprehenderit, illo atque dolor unde quas culpa porro cum ratione 
	 illum tempore ab impedit blanditiis tempora mollitia saepe eveniet aperiam alias ipsa recusandae! Eos facilis 
	 earum ex rerum, similique aperiam at, consequatur aspernatur vitae veniam minima laudantium perferendis quod 
	 molestias. Eum reiciendis vel adipisci incidunt quasi nesciunt culpa, enim itaque laudantium dolor voluptates 
	 nemo, error eligendi cupiditate, laborum dolorum? Repellat illum sequi modi laudantium accusamus enim pariatur 
	 eos reprehenderit quae voluptatibus esse nam nisi saepe autem, fugit vel voluptates consequuntur, quia ratione 
	 quas sapiente necessitatibus mollitia quibusdam. <br><br> Quaerat quos repellendus consectetur mollitia fuga amet, 
	 quisquam in, iusto fugiat impedit ipsa maxime quidem accusantium iste, sequi ratione ipsam dolorem earum, 
	 consequuntur. Iusto repellat, a magni modi totam commodi deserunt placeat ab tempore qui, aliquam, illum suscipit, 
	 impedit. Ullam modi dolorum, dignissimos suscipit omnis iste, provident deleniti nihil sapiente eveniet pariatur 
	 quia expedita. Porro illo ut quae exercitationem, aliquid doloremque assumenda provident unde nobis aut dolore eum 
	 rem placeat nisi dolorem perferendis fugit natus esse tenetur temporibus dignissimos, laudantium.
	 <br>
 </p>
 <br>
{% endblock %}