{% load static %}
{% load menu_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}">
	{% block link %}
	   	<link rel="icon" type="" href="{% static 'menu/img/ico/orange.svg' %}">
	   	<title>{{title}}</title>
	{% endblock %}
	
</head>
<body>
	<section class="section"> 
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		  	<div class="block">
			    <a class="navbar-brand" href="{% url 'home' %}">
			    	<div class="svg">
					  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
					  version="1.1" id="svg" width="50px" height="50px" viewBox="0 0 213.235 241.176">
					    <path d="M108.581,64.968V14.124l44.007,25.422L108.581,64.968"/>
					    <path fill-opacity="0.9" d="M153.591,92.101V41.258L109.582,66.68L153.591,92.101"/>
						<path d="M155.586,92.062V41.221l44.009,25.42L155.586,92.062"/>
						<path fill-opacity="0.7" d="M200.299,119.14V68.297l-44.004,25.421L200.299,119.14"/>
						<path fill-opacity="0.85" d="M155.586,146.255V95.412l44.009,25.422L155.586,146.255"/>
						<path fill-opacity="0.7" d="M200.299,173.35v-50.844l-44.004,25.422L200.299,173.35"/>
						<path fill-opacity="0.6" d="M155.586,200.482v-50.84l44.009,25.417L155.586,200.482"/>
						<path fill-opacity="0.5" d="M153.591,200.521v-50.84l-44.009,25.418L153.591,200.521"/>
						<path fill-opacity="0.6" d="M108.581,227.696v-50.844l44.007,25.421L108.581,227.696"/>
						<path fill-opacity="0.5" d="M106.62,227.696v-50.844l-44.005,25.421L106.62,227.696"/>
						<path fill-opacity="0.7" d="M61.562,200.553V149.71l44.007,25.423L61.562,200.553"/>
						<path fill-opacity="0.7" d="M59.709,200.56v-50.843l-44.008,25.422L59.709,200.56"/>
						<path fill-opacity="0.7" d="M14.699,173.467v-50.843l44.01,25.42L14.699,173.467"/>
						<path fill-opacity="0.5" d="M59.709,146.235V95.392l-44.008,25.42L59.709,146.235"/>
						<path fill-opacity="0.7" d="M14.699,119.141V68.297l44.01,25.421L14.699,119.141"/>
						<path fill-opacity="0.6" d="M59.709,92.101V41.258L15.701,66.68L59.709,92.101"/>
						<path fill-opacity="0.85" d="M61.562,92.092V41.249l44.007,25.419L61.562,92.092"/>
					    <path fill-opacity="0.9" d="M106.62,64.968V14.124L62.614,39.546L106.62,64.968"/>
					  </svg>
					</div>
				</a>
			</div>	
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse links" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		      	{% block menu %}
			      	{% for elem in menu %}
				        <li class="nav-item">
				          <a class="nav-link active" aria-current="page" href="{% url elem.url_name %}">{{elem.title}}</a>
				        </li>
			        {% endfor %}
			    {% endblock %}    
		      </ul>
		      
		    </div>

			</div>

			<div class="text-end">
		
			{% block search %}
					<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 form_header "  action=" {% url 'home' %} " method="get">
				<input type="search" class="form-control form__search" placeholder="Search..." name="search" aria-label="Search">
				</form>
			{% endblock %}
        {% if request.user.is_authenticated %}
			 		<div class="dropdown">
				    <a type="button" class="link-dark dropdown-toggle" data-toggle="dropdown">
				      <img src="{% static 'menu/img/ico/gome_gr.png' %}" alt="mdo" width="32" height="32" class="rounded-circle">
				    </a>
				    <div class="dropdown-menu">
				      <h5 class="dropdown-header">sign in as {{user.username}}</h5>
				      <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
				      <a class="dropdown-item" href="{% url 'know_more' %}">Know more</a>
				      <a class="dropdown-item" href="{% url 'about' %}">About</a>
				      <h5 class="dropdown-divider"></h5>
				      <a class="dropdown-item" href="{% url 'logout' user.username %}">Log out</a>
				    </div>
			  	</div>   
			  {% else %} 
			  	<div class="if_autorized">
			  		<a href="{% url 'register' %}" type="button" class=" btn btn-primary link">Sign up</a>
			  		<a href="{% url 'sign_in' %}" class=" btn btn-primary link">Login</a>
			  	</div>	
			  {% endif %}
		</nav>


		<div class="wrapper">
			<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 350px;">

			    <a  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none cat_head">
			      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
			      <span class="fs-4" id="category_title"  >Categories</span>
			    </a>
			    <hr>

			    <ul class="nav nav-pills flex-column mb-auto">
			    	{% block list %}
			      		{% get_categories_list  %}
			    	{% endblock %}
			    </ul>
			    <hr>
		  	</div>
		  	<div class="content">
		  		<div class="content_carus">
					{% if not page_obj.has_previous %}

						{% block carusel %}

						{% endblock %}
					{% endif %}		
				</div>

				<div class="messages">
					{% if messages %}
						{% for message in messages %}
							{% if message.tags == 'error' %}
								<div class="alert alert-danger" role="alert">
								  {{message}}
								</div>
							{% elif message.tags == 'critical' %}
							<div class="alert alert-primary" role="alert">
								{{message}}
							  </div>
							{% else %}
								<div class="alert alert-{{message.tags}}" role="alert">
								  {{message}}
								</div>
							{% endif %}	
						{% endfor %}
					{% endif %}
				</div>

				{% block order %}

				{% endblock %}

				{% block content %}
					
				{% endblock %}

				{% block paginate %}
					{% if page_obj.has_other_pages %}
						<div class="pagination mb-3" >
							{% if page_obj.has_previous %}
							<a href="?{{q}}page={{  page_obj.previous_page_number}}" class="link_pagin">&laquo;</a>
							{% else %}
							<a  class="disable">&laquo;</a>
							{% endif %} 
							{% if not page_obj.has_previous %}
								<li class=" simple_li">
									<a class="link_pagin link_pagin__active" href="?{{q}}page=1">1</a>
								</li>
							{% else %}
								<li class=" simple_li">
									<a class="link_pagin"  href="?{{q}}page=1">1</a>
								</li>    
							{% endif %}
							{% if page_obj.previous_page_number > 2 %}
									<li class=" simple_li">
										<a class="disable" >...</a>
									</li>
							{% endif %}
							

							{% for p in page_obj.paginator.page_range %}
								{% if p < page_obj.paginator.num_pages  and p > 1 %}
									{% if page_obj.number == p %}
										<li class=" simple_li">
											<a class="link_pagin link_pagin__active"  href="?{{q}}page={{ p }}">{{ p }}</a>
										</li>
									{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
										<li class=" simple_li">
											<a class="link_pagin" href="?{{q}}page={{ p }}">{{ p }}</a>
										</li>
									
									{% endif %}	
								{% endif %}    	
							{% endfor %}
							{% if page_obj.next_page_number < page_obj.paginator.num_pages|add:-1 %}
								<li class=" simple_li">
									<a class="disable" >...</a>
								</li>
							{% endif %}
							{% if not page_obj.has_next %}
								<li class=" simple_li">
									<a class="link_pagin link_pagin__active" href="?{{q}}page={{ page_obj.paginator.num_pages }}">
										{{page_obj.paginator.num_pages}}</a>
								</li>
							{% else %}
								<li class=" simple_li">
									<a class="link_pagin"  href="?{{q}}page={{ page_obj.paginator.num_pages }}">
										{{page_obj.paginator.num_pages}}</a>
								</li>    
							{% endif %}
							{% if page_obj.has_next %}
								<a href="?{{q}}page={{  page_obj.next_page_number}}" class="link_pagin">&raquo;</a>
							{% else %}
								<a  class="disable">&raquo;</a>
							{% endif %}  
						</div>
					{% endif %}
				{% endblock %}
			</div>
			<div class="">
				<hr>
				{% block top_chart %}
					{% get_top_chart %}
				{% endblock %}
				<hr>
				{% block most_liked %}
					{% get_most_liked %}
				{% endblock %}
				<hr>
			</div>	

		</div>
		<div class="footer">
			<div class="footer__left">
				2021
			</div>
			<div class="footer__center">
				<p class="footer__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, nisi!</p>
			</div>
			<div class="footer__right">
				<a class="footer__link" href="https://www.google.com/">google.com</a>
			</div>
		</div>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" 
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" 
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

		
	{% block script %} {% endblock %}	

</body>
</html>