{% extends "icon/base.html" %}
{% load static %}

{% block link %}
	   	<link rel="icon" type="" href="{% static 'menu/img/ico/gome_gr.png' %}">
	   	<title>Know more</title>
	{% endblock %}

{% block content %}
	<header>
		<h3 style="text-align: center;">
			Admins:
		</h3>
        <p>Yaroslav Dyhanov - <a href="https://mail.google.com/mail/u/0/#inbox">duhanov2003@gmail.com</a></p>
        <p>Yaroslav Yuriyovych - <a href="https://mail.google.com/mail/u/0/#inbox">duhanovuaroslav11@gmail.com</a></p>
        <p>Yaryk Admin - <a href="https://mail.google.com/mail/u/0/#inbox">123djangosuperuser123@gmail.com</a></p>
	</header>

{% endblock %}